/* * {
  border: 2px solid green;
} */

html,
body,
main {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 2.5vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

button {
  background-color: white;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
}

.player-image-container {
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}

.player-1-side {
  background: linear-gradient(#FFFFFF, #FFFFFF, #0D47A1, #000000);
  /* max-width: 100%; */
}
.player-1-count {
  /* max-width: 100%;
  display: flex;
  flex-direction: column; */
  text-shadow: 0 0 1px #0D47A1;
  /* align-items: stretch;
  justify-content: stretch; */
}

.player-2-side {
  background: linear-gradient(#FFFFFF, #FFFFFF, #C70039, #000000);
}

.player-2-count {
  text-shadow: 0 0 1px #C70039;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  /* background: linear-gradient(#FFFFFF, #0D47A1, #DAF7A6, #FFC300, #FF5733, #C70039, #000000); */
  /* background: linear-gradient(#FFFFFF, #FFFFFF, #DAF7A6); */
  /* background: #DAF7A6; */
  /* background: radial-gradient(circle, #DAF7A6 0%, #FFFFFF 75%); */
  background: linear-gradient(#FFFFFF 20%, #DAF7A6 70%, #FFFFFF 90%);
}

.player-turn-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  text-shadow:  0 0 2px green, 0 0 3px #DAF7A6;
  /* text-shadow: 1px 1px green; */
}

.player-icon-turn-display {
  margin-top: 0;
}

.game-board {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  height: 50%;
  /* background-color: #567f0b; */
  /* background-color: #62910d; */
  background-color: #a1b57e;
  box-shadow: 0px 3px 6px green;
}

.game-board > button {
  width: 30%;
  height: 30%;
  /* background-color: white; */
  border: 0px;
  padding: 0px;
  cursor: pointer;
  font-weight: lighter;
  font-style: italic;
}

/* .game-board > button:hover {
  background-color: grey;
} */

.blue-selected {
  /* background-color: #a5b8dc; */
  background-color: #6485c2;
}

.red-selected {
  /* background-color: #eba4af; */
  background-color: #dd667c;
}

/* button:hover {
  background-color: grey;
} */


#b1,
#b2,
#b3,
#c1,
#c2,
#c3 {
  border-top: 4px solid black;
}

#a1,
#a2,
#b1,
#b2,
#c1,
#c2 {
  border-right: 4px solid black;
}

#a1,
#a2,
#a3,
#b1,
#b2,
#b3 {
  border-bottom: 4px solid black;
}

#a2,
#a3,
#b2,
#b3,
#c2,
#c3 {
  border-left: 4px solid black;
}


.game-reset-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.game-reset-button-container > button {
  background-color: #DAF7A6;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px green;
  cursor: pointer;
}

.game-reset-button-container > button:hover {
  background-color: yellow;
}
